* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100px;
    height: 100px;
    background: grey;
    margin: 10px;
    padding: 10px;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
}